<form action="/games" method="post">
  <label>Board Type:</label>
  <select name="board_type", id="board_type">
    <% @board_types.each do |board_type| %>
      <option value="<%= board_type %>"><%= board_type %></option>
    <% end %>
  </select>
  <label>Rows:</label>
  <input name="rows"/>
  <label>Columns:</label>
  <input name="columns"/>
  <label>Player1:</label>
  <select name="player1" id="player1">
    <% @players.each do |player| %>
      <option value="<%= player.id %>"><%= player.name %></option>
    <% end %>
  </select>
  <label>Player2:</label>
  <select name="player2" id="player2">
    <% @players.each do |player| %>
      <option value="<%= player.id %>"><%= player.name %></option>
    <% end %>
  </select>
  <input value="Start!" type="submit"/>
</form>
<hr>
