<form action="/games" method="post">
  <label>Board Type:</label>
  <select name="board_type", id="board_type">
    <% @board_types.each do |board_type| %>
      <option value="<%= board_type %>"><%= board_type %></option>
    <% end %>
  </select>
  <label>Rows:</label>
  <input name="rows"/>
  <label>Columns:</label>
  <input name="columns"/>
  <br>
  <div class='players'>
    <div class='player'>
      <label>Player1:</label>
      <select name="player1" id="player1">
        <% @players.each do |player| %>
          <option value="<%= player.id %>"><%= player.name %></option>
        <% end %>
      </select>
    </div>
    <div class='player'>
      <label>Player2:</label>
      <select name="player2" id="player2">
        <% @players.each do |player| %>
          <option value="<%= player.id %>"><%= player.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class='add-player'>
    Add Player
  </div>
  <br>
  <input value="Start!" type="submit"/>
  <input value=2 name="player_count" type="hidden"/>
</form>
<hr>
