<script type="text/javascript">
  $(document).ready(function() {
      
      selectColor = function(player_number) {
        switch(player_number) {
          case 1:
            color = 'red';
            break;
          case 2:
            color = 'black';
            break;
          default:
            color = 'white';
        };
        return color;
      };

      colorizeToken = function(col, row, player_number) {
        token_id = '#token_' + col + '_' + row;
        console.log(token_id);
        $(token_id).removeClass('red white black');
        $(token_id).addClass(selectColor(player_number));
      };

      updateTurnName = function(turn_name) {
        $('#player_turn')[0].innerText = turn_name;
      };

      setWinCondition = function() {
        $('.column-select').prop('disabled', true);
        $('#winner_name')[0].innerText = $('#player_turn')[0].innerText;
        $('#winner').prop('disabled', false);
        $('#status')[0].innerText = 'Completed';
      };

      $('.column-select').click(function(e) {
        $.ajax
        ({
          url: '<%=@game.id%>/update_board',
          data: {'col': this.id},
          type: 'post',
          success: function(result)
          {
            colorizeToken(result.column, result.row, result.player_number);
            if(result.win_condition === true) {
              setWinCondition();
            } else {
              updateTurnName(result.player_turn);
            }
          }
         });
        });
      })
</script>
<h1>
  Game:
</h1>
<hr>
<div class='float'>
  <div class='float'>
    <a href='/'>Home</a>
  </div>
  <div class='float'>
    <a href='/games/new'>New Game</a>
  </div>
  <div class='float'>
    <a href='/players/new'>New Player</a>
  </div>
</div>
<div class='clear'></div>
<hr>

<div class='float'>
  <div class='float' style='width:55px'>
    <label>ID</label>
    <h3><%= @game.id %></h3>
  </div>
  <div class='float' style='width:100px'>
    <label>Status</label>
    <h3 id='status'><%= @game.status %></h3>
  </div>
  <div class='float' style='width:200px'>
    <label>Turn</label>
    <h3 id='player_turn'><%= @game.current_player.name %></h3>
  </div>
  <div class='float' id='winner' style='width:200px' disabled>
    <label>Winner</label>
    <h3 id='winner_name'></h3>
  </div>
</div>
<div class='clear'></div>
<hr>

<div class="board">
  <% @game.board.board.each_with_index do |col, index| %>
    <div class='float'>
      <div>
        <input class='column-select' id='<%=index%>'/>
      </div>
      <div class='vertical-line'>
      <% i = 0 %>
      <% while (i < col.length) %>
        <% color = case col[i] %>
        <% when '1'; 'red' %>
        <% when '2'; 'black' %>
        <% when '3'; 'blue' %>
        <% else; 'white' %>
        <% end %>
        <div class='horizontal-line'>
          <div class='token <%=color%>' id='token_<%=index%>_<%=i%>'></div>
        </div>
        <% i += 1 %>
      <% end %>
    </div>
    </div>
  <% end %>
</div>
