<%= javascript_include_tag 'board.js' %>
<div class='float'>
  <div class='float' style='width:55px'>
    <label>ID</label>
    <h3 id="game_id"><%= @game.id %></h3>
  </div>
  <div class='float' style='width:100px'>
    <label>Status</label>
    <h3 id='status'><%= @game.status %></h3>
  </div>
  <div class='float' style='width:200px'>
    <label>Turn</label>
    <h3 id='player_turn'><%= @game.current_player.name %></h3>
  </div>
  <div class='float' id='winner' style='width:200px' disabled>
    <label>Winner</label>
    <h3 id='winner_name'><%= @game.winner.present? ? @game.winner.name : nil %></h3>
  </div>
</div>
<div class='clear'></div>
<hr>

<div class="board">
  <%= render partial: '/boards/bit', locals: { game: @game } %>
</div>
