<script type="text/javascript">
  $(document).ready(function() {
      $('.column-select').click(function(e) {
        console.log("id: " + this.id);
        $.ajax
        ({
          url: '<%=@game.id%>/update_board',
          data: {'col': this.id},
          type: 'post',
          success: function(result)
          {
            console.log("woo hoo!");
          }
         });
        });
      })
</script>
<h1>
  Game:
</h1>
<hr>
<div style="float:left">
  <div style="float:left">
    <a href='/'>Home</a>
  </div>
  <div style="float:left">
    <a href='/games/new'>New Game</a>
  </div>
  <div style="float:left">
    <a href='/players/new'>New Player</a>
  </div>
</div>
<div style="clear:both"></div>
<hr>

<div style="float:left">
  <div style="float:left; width:55px">
    <label>ID</label>
    <h3><%= @game.id %></h3>
  </div>
  <div style="float:left; width:100px">
    <label>Status</label>
    <h3><%= @game.status %></h3>
  </div>
  <div style="float:left; width:200px">
    <label>Turn</label>
    <h3><%= @game.current_player.name %></h3>
  </div>
  <% if @game.completed? %>
    <div style="float:left; width:200px">
      <label>Winner</label>
      <h3><%= @game.winner.name %></h3>
    </div>
  <% end %>
</div>
<div style="clear:both"></div>
<div>
<hr>
</div>

<div class="board">
  <% @game.board.board.each_with_index do |col, index| %>
    <div style="float:left">
      <div>
        <input class='column-select' type='button' id='<%=index%>' value='SELECT ME!'/>
      </div>
      <% i = 0 %>
      <% while (i < col.length) %>
        <% color = case col[i] %>
      <% when '1'; 'red' %>
      <% when '2'; 'black' %>
      <% when '3'; 'blue' %>
      <% else; 'white' %>
      <% end %>
      <div style="border-radius:50%; width:50px; height:50px; background:<%= color %>; border: 3px solid <%= color %>;"><%= col[i] %></div>
        <% i += 1 %>
      <% end %>
    </div>
  <% end %>
</div>
